/* 
    Document   : common
    Created on : Jul 23, 2010, 2:58:56 PM
    Author     : Rodrigo
    Description:
        Arquivo que contém estilos comuns à todas as mídias
*/

root { 
    display: block;
}

@font-face {
	font-family: Ubuntu;
	src: url('fonts/ubuntu/Ubuntu-R.ttf');
}

@font-face {
	font-family: Ubuntu;
	font-weight: bold;
	src: url('fonts/ubuntu/Ubuntu-B.ttf');
}

@fontface {
    font-family: Ubuntu;
    font-style: italic;
    src: url('fonts/ubuntu/Ubuntu-I.ttf');
}