/* 
    Document   : dashboard
    Created on : 30/09/2011, 13:42:39
    Author     : marcelo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table.atable {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.atable thead tr th, table.atable tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.atable thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.atable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.atable tbody tr.odd td {
	background-color:#F0F0F6;
}
table.atable thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.atable thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.atable thead tr .headerSortDown, table.atable thead tr .headerSortUp {
background-color: #8dbdd8;
}

table {
    text-align: center;
}

table#floatbar.tablesorter tbody tr, table#floatbar.tablesorter thead th {
    text-align: center;
        vertical-align: middle;

}

html body div#container div#content table#floatbar.tablesorter tbody tr td  {
    vertical-align: middle;

}

tr {    
    border-bottom: solid #FFF 1px;
    margin-bottom: 5px;
}
