/* 
    Document   : screen
    Created on : Jul 23, 2010, 3:01:06 PM
    Author     : Rodrigo
    Description:
        Arquivo destinado aos estilos de mídia screen (monitores, TVs) e projection (projetores)
*/

root { 
    display: block;
}

body {
    background-color: #D7E8F7;
}

div#header {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    background-image:-moz-linear-gradient(0% 3% 270deg,#6A8BAB, #375D81);
    background-color:#191919;
    padding: 5px;
    color: white;
    text-shadow:4px 4px 3px #000000;
}

ul li, ol li {
    text-indent:0;
}

ul, ol {
    list-style-position:outside;
}

ul#mainMenu {
    clear:both;
    list-style:none outside none;
    padding: 0;
    font-family: Ubuntu,"Segoe UI", "Droid Sans";
    position: relative;
}

ul#mainMenu li {
    display: inline-block;
    padding: 15px 5px 15px 8px;
    border-left: thin dotted #6A8BAB;
    font-size: 14px;
}

li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #DDD;
    text-shadow:3px 3px 2px #000000;
}

li a:hover {
    color: #FFF;
    text-shadow:3px 3px 2px #000000;
}

ul#mainMenu li#titleMainMenu {
    border-left: none !important;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 24px;
    width: 50%;
    white-space: nowrap;
}

ul#mainMenu li a {
    text-decoration: none;
}

div#container {
    margin: 0 auto;
    width: 90%;
}

div#content {
    -moz-border-radius:10px;
    background-image:-moz-linear-gradient(0% 3% 270deg,#DDD, #EEE);
    background-color:#191919;
    padding: 10px;
    margin-top: 5px;
}

a.boardMenu {
    display: block;
    width: 98%;
    -moz-border-radius:5px;
    border: thin solid #999;
    padding: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    vertical-align: top;
    font-family: Corbel, "Segoe UI";
    color: #222;
    text-shadow:1px 1px 1px #AAA;
}

a.boardMenu img {
    margin: 0 10px;
}

table#filterMenu {
    background-color:#CDCDCD;
    font-family: Ubuntu, Corbel, "Segoe UI", Tahoma, Arial;
    font-size:14px;
    margin:0px;
    text-align:center;
    width:100%;
}

table#filterMenu td {
    padding: 5px 10px 8px;
    text-shadow:3px 3px 2px #666;
}

a.filterMenu {
    text-decoration: none;
    color: black;
}