/* 
    Document   : winagent
    Created on : 14/10/2011, 15:51:59
    Author     : marcelo
    Description:
        Purpose of the stylesheet follows.
*/

.odd {
    background-color: #bdbdbd;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: #3D3D3D;
    text-decoration: none;
}

a, a:visited {
    color: #3D3D3D;
}

span.button2 {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid thin #999;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
}

.button2 {
    -moz-box-shadow: 2px 2px 3px #888;
    -webkit-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;

}

.button2:active {
    -moz-box-shadow: 1px 1px 2px #888;
    -webkit-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
}

.button2:hover {
    background-color: #eee;
}

div#opt {
    text-align: right;
    margin: 10px 10px 15px 10px;
}

