<?php defined('SYSPATH') or die('No direct script access.');

return array(

	'ddns' => array(
		'server' => '143.54.10.128'
	),
    'snmpproxy' => array(
        'active' => true,
        'address' => '200.220.254.8/priv1proxy/'
    )
);